@charset "UTF-8";
*{
	margin:0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.userboard{
	display: flex;
	flex-direction : row;
	height: 100vh;
	width: 100%;
}

.header{
	display:flex;
	justify-content: space-between;
}

.menubar{
	flex : 20;
	height: 100vh;
	width: 100%;
	display : flex;
	flex-direction: column ;
	background-color : #FDFFF0;
}

.menubar > a {
		padding: 25px;
		color:#34704a;
		text-decoration: none;
		font-size: 1.3rem;
}

.menubar > h3{
	padding: 25px;
	color: white;
	background-color: #34704a;
	font-size: 1.3rem;
}

.maincontent{
	flex : 80;
	height: 100vh;
	width: 100%;
	padding-top: 20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:0;
	overflow-y:scroll; 
}

.maincontent > h2{
	height:10vh;
	width: 100%;
}

.walletpage{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}



.currentbalance > h2{
	font-size: 2rem;

}


 .walletbalance{
color:#34704a;
	
}

.carddataform{
	display:flex;
	flex-direction : column;
	
}

.carddetails > h2{
padding : 10px;
margin-bottom: 10px;
	color: #34704a;
}

input{
	margin-bottom: 20px;
	margin-top: 20px;
	background: #FDFFF0;
	
	border-radius: 15px;
	border:none;
	padding: 15px;
	width:400px;
}

a{
	text-decoration: none;
	
}

.button{
	width: 400px;
	padding:20px;
	background: #34704a;
	border-radius: 15px;
	border:none;
	color:white;
	margin-bottom: 20px;
	margin-top: 20px;
}

.logoutbutton{
	position : absolute;
	bottom: 0;
	left :80px;
	background-color: #34704a;
	padding : 15px;
	color : white;
	border : none;
	border-radius: 5px;
	margin : 25px;
}

.logoutbutton:hover{
	color : white;
}

.moneybag{
	width: 22rem;
	margin-top: 130px;
	margin-right: 100px;
}


img.moneybag {
   animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}




